
.wrapper{
  width: 75%;
  height:auto;
  min-height: calc(100vh - 40px);
  padding: 40px;
  background: #323138;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.h{
  width: 100%;
}
.block{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.blockText{
  padding: 0 20px;
  margin: 0; /* Убираем внешний отступ */
    -webkit-line-clamp: 7; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
}

p{
  color: #FFFFFF;
  font-weight: 900;
  font-size: 14px;
  padding-bottom: 10px;
}

span{
  color: #9A9A9A;
  font-size: 12px;
  
}



